<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="emailKey" value="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" />
    <add key="fromEmailAddress" value="jc@rotam.bike" />
    <add key="fromEmailName" value="Jim Castrigano" />
  </appSettings>
</configuration>