@model Rotam_LP.Controllers.Contact
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Rotam Bike Shop Software</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400,500,700|Open+Sans:400,400i,400,400i,700,700i" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Avilon
      Theme URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body>

    <!--==========================
      Header
    ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1>
                    <a href="#intro" class="scrollto">Rotam</a>
                </h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#intro"><img src="img/logo.png" alt="" title=""></a> -->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <!-- <li class="menu-active"><a href="#intro">Home</a></li> -->
                    <!-- <li><a href="#about">About Us</a></li> -->
                    <li>
                        <a href="#features">Benefits</a>
                    </li>
                    <li>
                        <a href="#call-to-action">Sign Up</a>
                    </li>
                    <!-- <li><a href="#gallery">Gallery</a></li> -->
                    <!-- <li class="menu-has-children"><a href="">Drop Down</a> -->
                    <!-- <ul> -->
                    <!-- <li><a href="#">Drop Down 1</a></li> -->
                    <!-- <li class="menu-has-children"><a href="#">Drop Down 2</a> -->
                    <!-- <ul> -->
                    <!-- <li><a href="#">Deep Drop Down 1</a></li> -->
                    <!-- <li><a href="#">Deep Drop Down 2</a></li> -->
                    <!-- <li><a href="#">Deep Drop Down 4</a></li> -->
                    <!-- <li><a href="#">Deep Drop Down 4</a></li> -->
                    <!-- <li><a href="#">Deep Drop Down 5</a></li> -->
                    <!-- </ul> -->
                    <!-- </li> -->
                    <!-- <li><a href="#">Drop Down 4</a></li> -->
                    <!-- <li><a href="#">Drop Down 4</a></li> -->
                    <!-- <li><a href="#">Drop Down 5</a></li> -->
                    <!-- </ul> -->
                    <!-- </li> -->
                    <li>
                        <a href="#progress">Progress</a>
                    </li>

                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro">

        <div class="intro-text">
            <h2>Welcome to Rotam</h2>
            <div class="tag">
                <p class="small">Software for bike shops.</p>
            </div>

            <a href="#features" class="btn-get-started scrollto">Find out More</a>
        </div>

        <div class="product-screens">

            <!-- <div class="product-screen-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.4s">
              <img src="img/product-screen-1.png" alt="">
            </div>

            <div class="product-screen-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.4s">
              <img src="img/product-screen-2.png" alt="">
            </div>

            <div class="product-screen-4 wow fadeInUp" data-wow-duration="0.4s">
              <img src="img/product-screen-4.png" alt="">
            </div> -->

            <div class="product-screen" id="mainImage">
                <img class="img-fluid" src="img/rotamSmall.JPG" alt="">
            </div>
            <div class="product-screen" id="mobileImage">
                <img class="img-fluid" src="img/mobilePOS.JPG" alt="">
            </div>

        </div>

    </section>
    <!-- #intro -->
    <!-- <main id="main"> -->
    <!-- ========================== -->
    <!-- About Us Section -->
    <!-- ============================-->
    <!-- <section id="about" class="section-bg"> -->
    <!-- <div class="container-fluid"> -->
    <!-- <div class="section-header"> -->
    <!-- <h4 class="section-title">About Us</h4> -->
    <!-- <span class="section-divider"></span> -->
    <!-- <p class="section-description"> -->
    <!-- Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque<br> -->
    <!-- sunt in culpa qui officia deserunt mollit anim id est laborum -->
    <!-- </p> -->
    <!-- </div> -->
    <!-- <div class="row"> -->
    <!-- <div class="col-lg-4 about-img wow fadeInLeft"> -->
    <!-- <img src="img/about-img.jpg" alt=""> -->
    <!-- </div> -->
    <!-- <div class="col-lg-4 content wow fadeInRight"> -->
    <!-- <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elite storium paralate</h2> -->
    <!-- <h4>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4> -->
    <!-- <p> -->
    <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ullamco laboris nisi ut aliquip ex ea commodo consequat. -->
    <!-- </p> -->
    <!-- <ul> -->
    <!-- <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li> -->
    <!-- <li><i class="ion-android-checkmark-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li> -->
    <!-- <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li> -->
    <!-- </ul> -->
    <!-- <p> -->
    <!-- Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet sit amet cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec -->
    <!-- </p> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </section> -->
    <!-- #about -->
    <!--
      ==========================
        Product Featuress Section -->
    <!-- ============================ -->
    <section id="features">
        <div class="container">

            <div class="row">

                <div class="col-lg-12">
                    <div class="section-header wow fadeIn" data-wow-duration="1s">
                        <h4 class="section-title">Product Benefits</h4>
                        <span class="section-divider"></span>
                    </div>
                </div>

                <!-- <div class="col-lg-4 col-md-5 features-img">
                    <img src="img/product-features.png" alt="" class="wow fadeInLeft">
                  </div> -->

                <div class="col-lg-4 col-md-4 box wow fadeInRight p-4">
                    <div class="icon">
                        <i class="ion-ios-speedometer-outline"></i>
                    </div>
                    <h4 class="title">
                        <a href="">Eliminate Time Wasting Tasks</a>
                    </h4>
                    <p class="description">
                        Tracking and scheduling work orders so they are ready on time, calculating inventory before you run out and keeping
                        it within budget, gathering customer information without disrupting the customer experience, shifting between
                        multiple systems to receive orders and track them... Stop administrative inefficiencies and and streamline all
                        your business operations into one cohesive unit designed for the unique needs of a bike shop operation.

                    </p>
                </div>
                <div class="col-lg-4 col-md-4 box wow fadeInRight p-4" data-wow-delay="0.1s">
                    <div class="icon">
                        <i class="ion-ios-lightbulb-outline"></i>
                    </div>
                    <h4 class="title">
                        <a href="">Be in the Know</a>
                    </h4>
                    <p class="description">
                        Don’t run your shop blind. Be confident each an every day that the decisions you are making to run your business
                        are the right ones. By streamlining your business process into one unit with Rotam you will have a holistic and
                        accurate view of your business needs and accomplishments.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 box wow fadeInRight p-4" data-wow-delay="0.2s">
                    <div class="icon">
                        <i class="ion-social-buffer-outline"></i>
                    </div>
                    <h4 class="title">
                        <a href="">Grow your Business</a>
                    </h4>
                    <p class="description">
                        By eliminating time wasting activities that just keep your business running, you will have time to focus activities that
                        grow your business. Activities like spending more time with customers, focusing on your marketing strategy with
                        Rotom's suite of marketing tools like email campaign management, customer notifications, and website and social
                        media updates.

                    </p>
                </div>
                </br>
                </br>
                <!-- <div class="col-lg-4 col-md-4 box wow fadeInRight" data-wow-delay="0.4s">
                        <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                        <h4 class="title"><a href=""></a></h4>
                        <p class="description"></p>
                      </div> -->

            </div>

        </div>

    </section>
    </br>
    </br>
    <!--========================== -->
    <!-- Product Advanced Featuress Section -->
    <!-- ============================-->
    <section id="advanced-features">

        <div class="features-row section-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-header wow fadeIn" data-wow-duration="1s">
                            <h4 class="section-title">Features</h4>
                            <span class="section-divider"></span>
                        </div>
                    </div>
                    <br><br>
                    <div class="col-12 p-3">
                        <img class="advanced-feature-img-right wow fadeInRight" src="img/advanced-feature-1.jpg" alt="">
                        <div class="wow fadeInLeft">
                            <h2>Service</h2>
                            <h4>Organize and optimize the service and repair side of your bike shop</h4>
                            <p>
                                Easily track all of your service orders in one place. Rotam offers scheduling and calendaring features that allow you to track and forecast your work orders and set alerts and reminder for upcoming work orders. There are also options to create custom notifications for your customers when work orders are complete.
                            </p>
                            <p>There are additional features to help track materials manage quotes and identify potential opportunities after an initial assessment. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="features-row">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <img class="advanced-feature-img-left wow fadeInRight" src="img/square-up-stand-pos.jpg" alt="">
                        <div class="wow fadeInRight">
                            <h2>Point of Sale</h2>
                            <i class="ion-ios-paper-outline" class="wow fadeInRight" data-wow-duration="0.5s"></i>
                            <p class="wow fadeInRight" data-wow-duration="0.5s">
                                Receive payment anywhere in the store..or anywhere else like events, pop up locations, races...etc. Rotam can be used from any device.
                            </p>
                            <i class="ion-ios-color-filter-outline wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s"></i>
                            <p class="wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s">Rotam has a fully featured POS system including credit card payments, discounting, reat-time sales data, quotes and opportunities, customer loyalty program, real-time sales data, gift certificates, printouts, taxes and more. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="features-row section-bg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <img class="advanced-feature-img-right wow fadeInRight" src="img/advanced-feature-4.jpg" alt="">
                        <div class="wow fadeInLeft">
                            <h2>Marketing</h2>
                            <h4>
                                Rotam offers an entire suite of marketing tools aimed at driving new customers to your bike shop and retain current customers.
                            </h4>
                            <p>
                                The key features offered by Rotam are the marketing tools. We focused on the operational tools like POS, Work Orders, and Stock Control so you would have more time to spend on the activities that grow your business like marketing. And the best part is they work in tandem. For example. When a work order is completed an automatic email or text notification is sent to the customer. That notification is customizable with a set of graphic design and marketing tools that allow you to drive customers back for more - such as an event at the bike shop, or an upcoming sales promotion.
                            </p>
                            <i class="ion-ios-albums-outline"></i>
                            <p>
                                Beyond the notifications, there is also an available Content Management System to manage the content on your website and Email Management system to manage email marketing campaigns, newsletters, and individual messages with customers.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- #advanced-features -->
    <!--========================== -->
    <!-- Call To Action Section -->
    <!-- ============================-->
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-lg-left">
                <h4 class="cta-title">Sign Me Up</h4>
                <div class="alert alert-success" role="alert">
                    Your contact info has been saved. A confirmation email will be sent.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-warning" role="alert">
                    Your contact info has not been saved :(. Please email us at info@rotam.bike so we can keep you updated. 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="cta-text">
                            Provide an email address to receive monthly updates on Rotam's progress and demo the prototype when it becomes
                            available.
                        </p>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <form name="contactInfo" class="contactInfo">
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <input type="text" required minlength="4" name="Name" class="form-control" id="Name" placeholder="Your Name" data-msg="Please enter at least 4 chars"/>
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="email" required class="form-control" name="Email" id="Email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email"/>
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="cta-btn-container text-center">
                                <button type="submit" class="cta-btn align-middle">Keep me updated</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- #call-to-action -->
    <!-- ========================== -->
    <!-- Progress Section -->
    <!-- ============================-->
    <section id="progress" class="section-bg">
        <div class="container">

            <div class="section-header">
                <h4 class="section-title">Progress</h4>
                <span class="section-divider"></span>
                <p class="section-description">Timeline of planned releases and completed releases</p>
            </div>

            <div class="row">

                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <h4 class="title">2018</h4>
                        </li>
                        <li>
                            <div class="timeline-badge">
                                <i class="ion-android-checkbox-outline"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Rotam 1.0 Release - Repair App</h4>
                                    <p>
                                        <small class="text-muted">
                                            <i class="ion-android-calendar"></i> 90 days from today
                                        </small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    <p>
                                        We will be releasing the first prototype on November 15 2018. This will be a closed beta release. The first
                                        prototype will have complete functionality for the repair sub-app only.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge warning">
                                <i class="glyphicon glyphicon-credit-card"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Rotam 1.2 Planned Release - Inventory Management</h4>
                                    <p>
                                        <small class="text-muted">
                                            <i class="ion-android-calendar"></i> 120 days from today
                                        </small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    <p>
                                        The second planned release will include an inventory management application which will eveuntally become part of the greater Rotam POS sub-application. The planned release date is December 15 2018.
                                    </p>
                                    <p>The release will also include enhancments to the service and inventory apps as well as the the release of a new sub-app. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h4 class="title">2019</h4>
                        </li>
                        <li>
                            <div class="timeline-badge danger">
                                <i class="glyphicon glyphicon-credit-card"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Rotam 1.3 - TBD</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>The third release has not been finalized yet. Its planned release date is mid Janurary and it will include enhancments to the Service and POS sub-apps.
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <!-- #progress -->
    <section id="more-features" class="section-bg">
        <div class="container">

            <div class="section-header">
                <h3 class="section-title">More Features</h3>
                <span class="section-divider"></span>
                <!-- <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="box wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="icon"><i class="ion-ios-stopwatch-outline"></i></div>
                        <h4 class="title"><a href="">Inventory</a></h4>
                        <p class="description">Robust inventory management that speeds up  data entry and streamlines ordering. Inventory Management includes an Inventory system centered around bicycles with bicycle specific details.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                        <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                        <h4 class="title"><a href="">Reporting</a></h4>
                        <p class="description">Advanced reporting and analytics that cover all aspects of your business including Sales, Inventory, Sales Associates, Purchase Orders, Accounts Receivable, Marketing...etc.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                        <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                        <h4 class="title"><a href="">Customers</a></h4>
                        <p class="description">
                            Customer profiles allow you to keep track of your customers and their order detail history. This information can strenghthen your marketing stragety and improve and inform individual customer care.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="icon"><i class="ion-ios-heart-outline"></i></div>
                        <h4 class="title"><a href="">Calendar and Scheduling</a></h4>
                        <p class="description">Bring all your calendaring needs into a flexible calendar app to include work orders, repair reminders, customer communication, marketing emails, event info... etc in one place. </p>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <!-- ========================== -->
    <!-- Clients -->
    <!-- ============================-->
    <!-- <section id="clients"> -->
    <!-- <div class="container"> -->
    <!-- <div class="row wow fadeInUp"> -->
    <!-- <div class="col-md-2"> -->
    <!-- <img src="img/clients/client-1.png" alt=""> -->
    <!-- </div> -->
    <!-- <div class="col-md-2"> -->
    <!-- <img src="img/clients/client-2.png" alt=""> -->
    <!-- </div> -->
    <!-- <div class="col-md-2"> -->
    <!-- <img src="img/clients/client-4.png" alt=""> -->
    <!-- </div> -->
    <!-- <div class="col-md-2"> -->
    <!-- <img src="img/clients/client-4.png" alt=""> -->
    <!-- </div> -->
    <!-- <div class="col-md-2"> -->
    <!-- <img src="img/clients/client-5.png" alt=""> -->
    <!-- </div> -->
    <!-- <div class="col-md-2"> -->
    <!-- <img src="img/clients/client-4.png" alt=""> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </section> -->
    <!-- #more-features -->
    <!-- ========================== -->
    <!-- Pricing Section -->
    <!-- ============================-->
    <!-- <section id="pricing" class="section-bg"> -->
    <!-- <div class="container"> -->
    <!-- <div class="section-header"> -->
    <!-- <h4 class="section-title">Pricing</h4> -->
    <!-- <span class="section-divider"></span> -->
    <!-- <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
    <!-- </div> -->
    <!-- <div class="row"> -->
    <!-- <div class="col-lg-4 col-md-4"> -->
    <!-- <div class="box wow fadeInLeft"> -->
    <!-- <h4>Free</h4> -->
    <!-- <h4><sup>$</sup>0<span> month</span></h4> -->
    <!-- <ul> -->
    <!-- <li><i class="ion-android-checkmark-circle"></i> Quam adipiscing vitae proin</li> -->
    <!-- <li><i class="ion-android-checkmark-circle"></i> Nec feugiat nisl pretium</li> -->
    <!-- <li><i class="ion-android-checkmark-circle"></i> Nulla at volutpat diam uteera</li> -->
    <!-- <li><i class="ion-android-checkmark-circle"></i> Pharetra massa massa ultricies</li> -->
    <!-- <li><i class="ion-android-checkmark-circle"></i> Massa ultricies mi quis hendrerit</li> -->
    <!-- </ul> -->
    <!-- <a href="#" class="get-started-btn">Get Started</a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="col-lg-4 col-md-4"> -->
    <!-- <div class="box featured wow fadeInUp"> -->
    <!-- <h4>Business</h4> -->
    <!-- <h4><sup>$</sup>29<span> month</span></h4> -->
    <!-- <ul> -->
    <!-- <li><i class="ion-android-checkmark-circle"></i> Quam adipiscing vitae proin</li> -->
    <!-- <li><i class="ion-android-checkmark-circle"></i> Nec feugiat nisl pretium</li> -->
    <!-- <li><i class="ion-android-checkmark-circle"></i> Nulla at volutpat diam uteera</li> -->
    <!-- <li><i class="ion-android-checkmark-circle"></i> Pharetra massa massa ultricies</li> -->
    <!-- <li><i class="ion-android-checkmark-circle"></i> Massa ultricies mi quis hendrerit</li> -->
    <!-- </ul> -->
    <!-- <a href="#" class="get-started-btn">Get Started</a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="col-lg-4 col-md-4"> -->
    <!-- <div class="box wow fadeInRight"> -->
    <!-- <h4>Developer</h4> -->
    <!-- <h4><sup>$</sup>49<span> month</span></h4> -->
    <!-- <ul> -->
    <!-- <li><i class="ion-android-checkmark-circle"></i> Quam adipiscing vitae proin</li> -->
    <!-- <li><i class="ion-android-checkmark-circle"></i> Nec feugiat nisl pretium</li> -->
    <!-- <li><i class="ion-android-checkmark-circle"></i> Nulla at volutpat diam uteera</li> -->
    <!-- <li><i class="ion-android-checkmark-circle"></i> Pharetra massa massa ultricies</li> -->
    <!-- <li><i class="ion-android-checkmark-circle"></i> Massa ultricies mi quis hendrerit</li> -->
    <!-- </ul> -->
    <!-- <a href="#" class="get-started-btn">Get Started</a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </section>  -->
    <!-- #pricing -->
    <!-- ========================== -->
    <!-- Frequently Asked Questions Section -->
    <!-- ============================-->
    <!-- <section id="faq"> -->
    <!-- <div class="container"> -->
    <!-- <div class="section-header"> -->
    <!-- <h4 class="section-title">Frequently Asked Questions</h4> -->
    <!-- <span class="section-divider"></span> -->
    <!-- <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
    <!-- </div> -->
    <!-- <ul id="faq-list" class="wow fadeInUp"> -->
    <!-- <li> -->
    <!-- <a data-toggle="collapse" class="collapsed" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="ion-android-remove"></i></a> -->
    <!-- <div id="faq1" class="collapse" data-parent="#faq-list"> -->
    <!-- <p> -->
    <!-- Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non. -->
    <!-- </p> -->
    <!-- </div> -->
    <!-- </li> -->
    <!-- <li> -->
    <!-- <a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="ion-android-remove"></i></a> -->
    <!-- <div id="faq2" class="collapse" data-parent="#faq-list"> -->
    <!-- <p> -->
    <!-- Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui. -->
    <!-- </p> -->
    <!-- </div> -->
    <!-- </li> -->
    <!-- <li> -->
    <!-- <a data-toggle="collapse" href="#faq4" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="ion-android-remove"></i></a> -->
    <!-- <div id="faq4" class="collapse" data-parent="#faq-list"> -->
    <!-- <p> -->
    <!-- Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis -->
    <!-- </p> -->
    <!-- </div> -->
    <!-- </li> -->
    <!-- <li> -->
    <!-- <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="ion-android-remove"></i></a> -->
    <!-- <div id="faq4" class="collapse" data-parent="#faq-list"> -->
    <!-- <p> -->
    <!-- Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui. -->
    <!-- </p> -->
    <!-- </div> -->
    <!-- </li> -->
    <!-- <li> -->
    <!-- <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="ion-android-remove"></i></a> -->
    <!-- <div id="faq5" class="collapse" data-parent="#faq-list"> -->
    <!-- <p> -->
    <!-- Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in -->
    <!-- </p> -->
    <!-- </div> -->
    <!-- </li> -->
    <!-- <li> -->
    <!-- <a data-toggle="collapse" href="#faq4" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="ion-android-remove"></i></a> -->
    <!-- <div id="faq4" class="collapse" data-parent="#faq-list"> -->
    <!-- <p> -->
    <!-- Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec. -->
    <!-- </p> -->
    <!-- </div> -->
    <!-- </li> -->
    <!-- </ul> -->
    <!-- </div> -->
    <!-- </section>  -->
    <!-- #faq -->
    <!--========================== -->
    <!-- Our Team Section -->
    <!-- ============================-->
    <!-- <section id="team" class="section-bg"> -->
    <!-- <div class="container"> -->
    <!-- <div class="section-header"> -->
    <!-- <h4 class="section-title">Our Team</h4> -->
    <!-- <span class="section-divider"></span> -->
    <!-- <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
    <!-- </div> -->
    <!-- <div class="row wow fadeInUp"> -->
    <!-- <div class="col-lg-4 col-md-4"> -->
    <!-- <div class="member"> -->
    <!-- <div class="pic"><img src="img/team/team-1.jpg" alt=""></div> -->
    <!-- <h4>Walter White</h4> -->
    <!-- <span>Chief Executive Officer</span> -->
    <!-- <div class="social"> -->
    <!-- <a href=""><i class="fa fa-twitter"></i></a> -->
    <!-- <a href=""><i class="fa fa-facebook"></i></a> -->
    <!-- <a href=""><i class="fa fa-google-plus"></i></a> -->
    <!-- <a href=""><i class="fa fa-linkedin"></i></a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="col-lg-4 col-md-4"> -->
    <!-- <div class="member"> -->
    <!-- <div class="pic"><img src="img/team/team-2.jpg" alt=""></div> -->
    <!-- <h4>Sarah Jhinson</h4> -->
    <!-- <span>Product Manager</span> -->
    <!-- <div class="social"> -->
    <!-- <a href=""><i class="fa fa-twitter"></i></a> -->
    <!-- <a href=""><i class="fa fa-facebook"></i></a> -->
    <!-- <a href=""><i class="fa fa-google-plus"></i></a> -->
    <!-- <a href=""><i class="fa fa-linkedin"></i></a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="col-lg-4 col-md-4"> -->
    <!-- <div class="member"> -->
    <!-- <div class="pic"><img src="img/team/team-4.jpg" alt=""></div> -->
    <!-- <h4>William Anderson</h4> -->
    <!-- <span>CTO</span> -->
    <!-- <div class="social"> -->
    <!-- <a href=""><i class="fa fa-twitter"></i></a> -->
    <!-- <a href=""><i class="fa fa-facebook"></i></a> -->
    <!-- <a href=""><i class="fa fa-google-plus"></i></a> -->
    <!-- <a href=""><i class="fa fa-linkedin"></i></a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="col-lg-4 col-md-4"> -->
    <!-- <div class="member"> -->
    <!-- <div class="pic"><img src="img/team/team-4.jpg" alt=""></div> -->
    <!-- <h4>Amanda Jepson</h4> -->
    <!-- <span>Accountant</span> -->
    <!-- <div class="social"> -->
    <!-- <a href=""><i class="fa fa-twitter"></i></a> -->
    <!-- <a href=""><i class="fa fa-facebook"></i></a> -->
    <!-- <a href=""><i class="fa fa-google-plus"></i></a> -->
    <!-- <a href=""><i class="fa fa-linkedin"></i></a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </section>  -->
    <!-- #team  -->
    <!--========================== -->
    <!-- Gallery Section -->
    <!-- ============================-->
    <!-- <section id="gallery"> -->
    <!-- <div class="container-fluid"> -->
    <!-- <div class="section-header"> -->
    <!-- <h4 class="section-title">Gallery</h4> -->
    <!-- <span class="section-divider"></span> -->
    <!-- <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
    <!-- </div> -->
    <!-- <div class="row no-gutters"> -->
    <!-- <div class="col-lg-4 col-md-4"> -->
    <!-- <div class="gallery-item wow fadeInUp"> -->
    <!-- <a href="img/gallery/gallery-1.jpg" class="gallery-popup"> -->
    <!-- <img src="img/gallery/gallery-1.jpg" alt=""> -->
    <!-- </a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="col-lg-4 col-md-4"> -->
    <!-- <div class="gallery-item wow fadeInUp"> -->
    <!-- <a href="img/gallery/gallery-2.jpg" class="gallery-popup"> -->
    <!-- <img src="img/gallery/gallery-2.jpg" alt=""> -->
    <!-- </a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="col-lg-4 col-md-4"> -->
    <!-- <div class="gallery-item wow fadeInUp"> -->
    <!-- <a href="img/gallery/gallery-4.jpg" class="gallery-popup"> -->
    <!-- <img src="img/gallery/gallery-4.jpg" alt=""> -->
    <!-- </a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="col-lg-4 col-md-4"> -->
    <!-- <div class="gallery-item wow fadeInUp"> -->
    <!-- <a href="img/gallery/gallery-4.jpg" class="gallery-popup"> -->
    <!-- <img src="img/gallery/gallery-4.jpg" alt=""> -->
    <!-- </a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="col-lg-4 col-md-4"> -->
    <!-- <div class="gallery-item wow fadeInUp"> -->
    <!-- <a href="img/gallery/gallery-5.jpg" class="gallery-popup"> -->
    <!-- <img src="img/gallery/gallery-5.jpg" alt=""> -->
    <!-- </a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="col-lg-4 col-md-4"> -->
    <!-- <div class="gallery-item wow fadeInUp"> -->
    <!-- <a href="img/gallery/gallery-4.jpg" class="gallery-popup"> -->
    <!-- <img src="img/gallery/gallery-4.jpg" alt=""> -->
    <!-- </a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </section> -->
    <!-- #gallery -->
    <!--========================== -->
    <!-- Contact Section -->
    <!-- ============================-->
    <section id="contact">
        <div class="container">
            <div class="row wow fadeInUp">

                <div class="col-lg-4 col-md-4">
                    <div class="contact-about">
                        <h4>Rotam</h4>
                        <p>
                            If you have additional questions or would like to provide feedback and get involved in the development of the
                            application, please contact us.
                        </p>
                        <!-- <div class="social-links">
                          <a href="#" class="twitter">
                            <i class="fa fa-twitter"></i>
                          </a>
                          <a href="#" class="facebook">
                            <i class="fa fa-facebook"></i>
                          </a>
                          <a href="#" class="instagram">
                            <i class="fa fa-instagram"></i>
                          </a>
                          <a href="#" class="google-plus">
                            <i class="fa fa-google-plus"></i>
                          </a>
                          <a href="#" class="linkedin">
                            <i class="fa fa-linkedin"></i>
                          </a>
                        </div> -->
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="info">
                        <div>
                            <i class="ion-ios-location-outline"></i>
                            <p>
                                1361 W 76 St.
                                <br>Cleveland, Oh 44102
                            </p>
                        </div>

                        <div>
                            <i class="ion-ios-email-outline"></i>
                            <p>info@rotam.com</p>
                        </div>

                        <div>
                            <i class="ion-ios-telephone-outline"></i>
                            <p>330 703 7305</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-5 col-md-8">
                    <div class="alert alert-success" role="alert">
                    Your message has been sent. A confirmation email will be sent.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-warning" role="alert">
                    Your message was not sent :(. Please message us directly at info@rotam.com.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="form">
                        <form action="" name="inquiry" method="post" role="form" class="inquiry">
                            <div class="form-row">
                                <div class="form-group col-lg-4">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group col-lg-4">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn"type="submit" title="Send Message">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- #contact -->
    <!-- </main> -->
    <!--========================== -->
    <!-- Footer -->
    <!-- ============================-->
    <!-- <footer id="footer"> -->
    <!-- <div class="container"> -->
    <!-- <div class="row"> -->
    <!-- <div class="col-lg-4 text-lg-left text-center"> -->
    <!-- <div class="copyright"> -->
    <!-- &copy; Copyright <strong>Avilon</strong>. All Rights Reserved -->
    <!-- </div> -->
    <!-- <div class="credits"> -->
    <!-- -->
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Avilon -->
    <!-- -->
    <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="col-lg-4"> -->
    <!-- <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0"> -->
    <!-- <a href="#intro" class="scrollto">Home</a> -->
    <!-- <a href="#about" class="scrollto">About</a> -->
    <!-- <a href="#">Privacy Policy</a> -->
    <!-- <a href="#">Terms of Use</a> -->
    <!-- </nav> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </footer>-->
    <!--#footer -->

    <a href="#" class="back-to-top">
        <i class="fa fa-chevron-up"></i>
    </a>

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/magnific-popup/magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>

</body>

</html>